.iconWrapper {
    position: fixed;
    top: 40%;
    right: 0px;
    z-index: 99999;
}

.iconLinks{
    display: block;
}

.awesomeSocial {
    margin-top: 3px;
    color: #fff !important;
    text-align: center !important;
    display: block;
    line-height: 34px !important;
    width: 40px !important;
    height: 40px !important;
    /* font-size: 12px !important; */
    text-shadow: 2px 2px 4px #000000 !important;
    padding-right: 12px;
    padding-left: 12px;
}

.linkedInBg {
    background: #007bb6;
    border-color: #007bb6;
}

.facebookBg {
    background: #3b5998;
    border-color: #3b5998;
}

.rssBg {
    background: #FA9B39;
    border-color: #FA9B39;
}
